/* Nabvar estyles */

.barraNav{
    color: rgb(255, 255, 255);
}

.barraNav:hover{
    color: rgb(150, 146, 146);
    transition: 1s;
    text-decoration: underline;
}

.menu{    
    display: flex;
}

.mainDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}


